<html lang="en" ng-app="MenuApp" class="ng-scope"><head><style 
        type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 4</title>
</head>
<body>

    <!-- uiView: --><ui-view class="ng-scope"><a ui-sref="home" class="ng-scope" href="#/">Home</a><span class="ng-scope"> &lt; </span><span class="ng-scope">Categories</span>
<h3 class="ng-scope">Categories</h3>
<categories items="categoriesCtrl.items" class="ng-scope ng-isolate-scope"><!-- ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/L"> Lunch L</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/A"> Soup A</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/B"> Appetizers B</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/SP"> Chef's Recommendations SP</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/C"> Chicken C</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/F"> Beef F</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/V"> Veal V</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/DK"> Duck DK</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/VG"> Vegetables VG</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/CU"> Curry CU</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/NL"> Noodles (Lo Mein) NL</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/NF"> Mei Fan (Very Fine Noodles) NF</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/PF"> Pan Fried Noodles PF</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/FR"> Fried Rice FR</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/CM"> Chow Mein CM</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/FY"> Egg Foo Young FY</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/SO"> Side Orders SO</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/DS"> Desserts DS</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/D"> Dinner Combo D</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --><div ng-repeat="item in $ctrl.items" class="ng-scope">
  <a ui-sref="getitems({categoryShortName: item.short_name})" class="ng-binding" href="#/item/SR"> Sushi Menu SR</a>
 

</div><!-- end ngRepeat: item in $ctrl.items --></categories>
<!-- uiView: --><ui-view class="ng-scope"></ui-view></ui-view>

    
    <!-- Libraries -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>

    <!-- Modules -->
    <script src="src/menuApp/menudata.module.js"></script>
    <script src="src/menuApp/menuApp.module.js"></script>

    <!-- Routes -->
    <script src="src/routes.js"></script>

    <!-- MenuApp module artifacts -->
    <script src="src/menuApp/categories.component.js"></script>
    <script src="src/menuApp/categories.controller.js"></script>
    <script src="src/menuApp/items.component.js"></script>
    <script src="src/menuApp/items.controller.js"></script>

    <!-- Data module artifacts -->
    <script src="src/menuApp/menudata.service.js"></script>

</body></html>
